*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 0 34px;
    padding: 8px;
}
.h1{
    margin-left: 500px;
    text-decoration: underline overline red;
   
}
.row_1{
    width: 400px;
    height: 300px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}